* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container1 {
  width: 10%;
  height: 100vh;
  background-color: #55bcc9;
  color: black;
  justify-content: space-between;
}
.podcast {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.podcast #logo {
  width: 40px;
  height: 40px;
}
.menu {
  /* border-radius: 10px;
  border-color: white;
  border: 10px; */
}
.menu > h2 {
  justify-content: center;
  font-weight: bold;
}
.menu > ul {
  display: flex;
  flex-direction: column;
  height: 170px;
  list-style: none;
  justify-content: space-around;
}
.menu > ul > .same {
  width: 50%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.menu > ul > .same > #logo {
  width: 20px;
}

.library > h2 {
  justify-content: start;
}
.library > ul {
  display: flex;
  flex-direction: column;
  height: 130px;
  list-style: none;
  justify-content: space-around;
}
.library > ul > .same {
  width: 50%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.library > ul > .same > #logo {
  width: 20px;
}

.customize > h2 {
  justify-content: start;
  justify-items: center;
}
.customize > ul {
  display: flex;
  flex-direction: column;
  height: 110px;
  list-style: none;
  justify-content: space-around;
}
.customize > ul > .same {
  width: 50%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.customize > ul > .same > #logo {
  width: 20px;
}
.lab {
  font-weight: 500;
  text-decoration: none;
}
.customize{
  margin-top: 70px;
}
.library{
  margin-top: 40px;
}

.label{
  /* justify-content: space-between; */
}
.same5{
  text-decoration: none;
  color: black;
}